<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YouTubeNaviDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B287195F1DC98C670076C6B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B28719731DC98C670076C6B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B287197E1DC98C670076C6B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
